.projects {
	display: flex;
	text-align: right;
	min-height: 380px;
	position: relative;
	padding: 30px;
	border-radius:20px ;
}
.projects_img {
	position: absolute;
	left: 5%;
	top: -46px;

}

@media screen and (max-width: 768px ) {
	.projects_img {
		position: relative;
		justify-content: center;
		display: flex;
		margin-top: 10px;
		top: 0;
		left: 0;

	}
	.projects {
		flex-direction: column;
		padding-bottom: 0;
	}
}
