.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagination ul {
	display: flex;
 	width: 100%;
	align-items: center;
}
.pagination li button {
	 background: transparent;
	color: white;
	border: none;
	padding: 5px 15px;
	cursor: pointer;
	border-radius: 5px;
}

.pagination li:nth-child(2) {
	 margin-right: auto;
}

.pagination li:nth-child(8) {
	 margin-left: auto;
}

.pagination li  {
	 background: transparent!important;
	color: white;
	border: none;
}
@media screen and (max-width: 1200px){
	.pagination li button {
		padding: 1px 10px;
		margin: 10px 0;

	}

}
