.section {
	display: grid;
	grid-template-columns: repeat(3, auto);
}
.section_item {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: start;
}

.section_item_text {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: start;
	padding: 0;
	text-align: right;
}
@media screen and (max-width: 768px ) {
	.section {
 		grid-template-columns: repeat(2, auto);
		row-gap: 20px;
	}
	.section_item {
 		justify-content: center;
		align-items: center;
	}
	.section_item_text {
  		justify-content: center;
		align-items: center;
 		text-align: center;
	}
}
