.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
flex-direction: row!important;
}
.footerIcon{

}

@media screen and (max-width: 991px ) {
	.footer {
		flex-direction: column!important;
	}
}
