.steps {
	display: flex;
    justify-content: space-between;
 }
.section_item {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: start;
}

.section_item_text {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: start;
	padding: 0;
	text-align: right;
}

@media screen and (max-width: 1200px){
	.steps {
 		flex-direction: column!important;
		justify-content: center;
	}
	.steps_reverse {
 		flex-direction: column-reverse!important;
 	}

}
