.customizeServices_section {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-direction: column;

}
.customizeServices_gap {

}
.customizeServices {
	display: flex;
	flex-direction: column;

}
.customizeServices_item {
	display: flex;
 	justify-content: start;
	align-items: start;
}

.customizeServices_item_text {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: start;
	padding: 0;
	margin-right: 13px;
	text-align: right;
}
@media screen and (max-width: 1200px){
	.customizeServices_gap {
		display: flex!important;
		flex-direction: column!important;
	}
}
